In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('E:/All Project/salary_prediction/data/raw/web_data.csv')

In [9]:
df.head()

,company_names,allas,company_reviews
0,TCS,1.1L Reviews9.8L Salaries11.8k Interviews2.2k ...,3.3
1,Accenture,71.3k Reviews6.5L Salaries9.2k Interviews42k J...,3.7
2,Wipro,63.5k Reviews4.8L Salaries6.7k Interviews5.8k ...,3.6
3,Cognizant,59.8k Reviews6L Salaries6.3k Interviews751 Job...,3.6
4,Capgemini,51.5k Reviews4.8L Salaries5.4k Interviews1.9k ...,3.7

In [4]:
df[df.duplicated()]

Empty DataFrame
Columns: [company_names, allas, company_reviews]
Index: []

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
def drop_duplicates(data):
    df = data.drop_duplicates(inplace=True)
    return df

In [7]:
df.head()

,company_names,allas,company_reviews
0,TCS,1.1L Reviews9.7L Salaries11.8k Interviews1.8k ...,3.3
1,Accenture,71.2k Reviews6.5L Salaries9.1k Interviews30.9k...,3.7
2,Wipro,63.5k Reviews4.8L Salaries6.6k Interviews7.8k ...,3.6
3,Cognizant,59.8k Reviews6L Salaries6.3k Interviews674 Job...,3.6
4,Capgemini,51.3k Reviews4.7L Salaries5.4k Interviews1.8k ...,3.7

In [10]:
df['allas'][0]

'1.1L Reviews9.8L Salaries11.8k Interviews2.2k Jobs10.6k Benefits93 Photos'

In [11]:
df['allas'].str.split(' ')[0]

['1.1L',
 'Reviews9.8L',
 'Salaries11.8k',
 'Interviews2.2k',
 'Jobs10.6k',
 'Benefits93',
 'Photos']

In [12]:
Reviews = df['allas'].str.split('Reviews').str[0]
Salaries =df['allas'].str.split(' ').str[1].str.split('Reviews').str[1]
Interviews = df['allas'].str.split(' ').str[2].str.split('Salaries').str[1]
jobs = df['allas'].str.split(' ').str[3].str.split('Interviews').str[1]
Benefits = df['allas'].str.split(' ').str[4].str.split('Jobs').str[1]
photos = df['allas'].str.split(' ').str[5].str.split('Benefits').str[1]

In [13]:
def data_corect(df):
    df['Reviews'] = df['allas'].str.split('Reviews').str[0]
    df['Salaries'] = df['allas'].str.split(' ').str[1].str.split('Reviews').str[1]
    df['Interviews'] = df['allas'].str.split(' ').str[2].str.split('Salaries').str[1]
    df['jobs'] = df['allas'].str.split(' ').str[3].str.split('Interviews').str[1]
    df['Benefits'] = df['allas'].str.split(' ').str[4].str.split('Jobs').str[1]
    df['photos'] = df['allas'].str.split(' ').str[5].str.split('Benefits').str[1]
    df.drop(columns='allas',inplace=True)

    return df

In [14]:
data_corect(df)

,company_names,company_reviews,Reviews,Salaries,Interviews,jobs,Benefits,photos
0,TCS,3.3,1.1L,9.8L,11.8k,2.2k,10.6k,93
1,Accenture,3.7,71.3k,6.5L,9.2k,42k,6.7k,49
2,Wipro,3.6,63.5k,4.8L,6.7k,5.8k,4.6k,107
3,Cognizant,3.6,59.8k,6L,6.3k,751,5.5k,86
4,Capgemini,3.7,51.5k,4.8L,5.4k,1.9k,3.7k,42
...,...,...,...,...,...,...,...,...
9955,Brightsun Travel,2.8,107,479,6,11,9,--
9956,Swami Vivekanand Subharti University,3.7,107,292,2,1,11,9
9957,The AEC Associates,4.5,107,187,14,3,5,8
9958,Shindengen,3.8,107,572,6,--,6,--
9959,Sherweb,3.0,108,213,10,2,1,--

In [536]:

df = pd.read_csv('E:/All Project/salary_prediction/data/harf_prose/train.csv')

In [537]:
df.head()

,company_names,company_reviews,Reviews,Salaries,Interviews,jobs,Benefits,photos
0,Innominds Software,3.3,544,4.5k,48,34,31,6
1,Rimini Street,4.0,182,895,8,18,15,1
2,Springer Nature in India,4.0,323,2.5k,40,12,25,25
3,Park Hospital,3.7,385,1.3k,26,12,12,--
4,Eduquity Career Technologies,3.4,108,513,8,--,4,--

In [538]:
df[df['company_names']=='TCS']

Empty DataFrame
Columns: [company_names, company_reviews, Reviews, Salaries, Interviews, jobs, Benefits, photos]
Index: []

In [539]:
df['company_names'].value_counts()

company_names
Innominds Software                    1
TravelTriangle                        1
Utthunga Technologies                 1
JK Paper                              1
Rainbow Childrens Hospital            1
                                     ..
AachiGroup                            1
Tokai Imperial Rubber India           1
NuSummit                              1
Sandberg Translation Partners         1
Bihar Foundry and Castings Limited    1
Name: count, Length: 7606, dtype: int64

In [540]:
df.head()

,company_names,company_reviews,Reviews,Salaries,Interviews,jobs,Benefits,photos
0,Innominds Software,3.3,544,4.5k,48,34,31,6
1,Rimini Street,4.0,182,895,8,18,15,1
2,Springer Nature in India,4.0,323,2.5k,40,12,25,25
3,Park Hospital,3.7,385,1.3k,26,12,12,--
4,Eduquity Career Technologies,3.4,108,513,8,--,4,--

In [541]:
df.drop(columns='company_names',inplace=True)

In [542]:

df.head()

   company_reviews Reviews Salaries Interviews jobs Benefits photos
0              3.3    544      4.5k         48   34       31      6
1              4.0    182       895          8   18       15      1
2              4.0    323      2.5k         40   12       25     25
3              3.7    385      1.3k         26   12       12     --
4              3.4    108       513          8   --        4     --

In [543]:
df['company_reviews'].value_counts().sort_index()

company_reviews
1.0      1
1.3      1
1.5      1
1.7      1
1.8      1
1.9      3
2.0      2
2.1      4
2.2      5
2.3      7
2.4     14
2.5     18
2.6     32
2.7     44
2.8     64
2.9     95
3.0    136
3.1    184
3.2    282
3.3    356
3.4    429
3.5    525
3.6    635
3.7    756
3.8    805
3.9    807
4.0    723
4.1    619
4.2    423
4.3    232
4.4    172
4.5     88
4.6     60
4.7     34
4.8     30
4.9     16
Name: count, dtype: int64

In [544]:
a = []
for i in df['company_reviews']:
    if i > 4:
        a.append('excellent')
    elif i < 4 and i > 3:
        a.append('good')
    else:
        a.append('Poor')

In [545]:
pd.DataFrame(a).value_counts()

0
good         4779
excellent    1674
Poor         1153
Name: count, dtype: int64

In [546]:
df['company_reviews'].value_counts()

company_reviews
3.9    807
3.8    805
3.7    756
4.0    723
3.6    635
4.1    619
3.5    525
3.4    429
4.2    423
3.3    356
3.2    282
4.3    232
3.1    184
4.4    172
3.0    136
2.9     95
4.5     88
2.8     64
4.6     60
2.7     44
4.7     34
2.6     32
4.8     30
2.5     18
4.9     16
2.4     14
2.3      7
2.2      5
2.1      4
1.9      3
2.0      2
1.7      1
1.5      1
1.0      1
1.3      1
1.8      1
Name: count, dtype: int64

In [547]:
# change compay reviews in to catogorical data
def change_into_cat(df):
    a = []
    for i in df['company_reviews']:
        if i > 4:
            a.append('excellent')
        elif i < 4 and i > 3:
            a.append('good')
        else:
            a.append('Poor') 
    df['company_reviews'] = a

    return df

In [548]:
df = change_into_cat(df)

In [549]:
df.head()

  company_reviews Reviews Salaries Interviews jobs Benefits photos
0            good    544      4.5k         48   34       31      6
1            Poor    182       895          8   18       15      1
2            Poor    323      2.5k         40   12       25     25
3            good    385      1.3k         26   12       12     --
4            good    108       513          8   --        4     --

In [550]:
df['Reviews'].unique()

array(['544 ', '182 ', '323 ', '385 ', '108 ', '230 ', '146 ', '198 ',
       '115 ', '148 ', '905 ', '570 ', '145 ', '405 ', '186 ', '139 ',
       '174 ', '143 ', '151 ', '667 ', '4.2k ', '165 ', '267 ', '223 ',
       '11.7k ', '498 ', '133 ', '164 ', '167 ', '109 ', '204 ', '141 ',
       '124 ', '577 ', '206 ', '497 ', '245 ', '119 ', '123 ', '113 ',
       '370 ', '479 ', '235 ', '1.2k ', '324 ', '175 ', '352 ', '1.8k ',
       '2k ', '281 ', '195 ', '274 ', '7.6k ', '163 ', '134 ', '355 ',
       '2.5k ', '326 ', '161 ', '262 ', '483 ', '372 ', '118 ', '194 ',
       '137 ', '264 ', '121 ', '375 ', '368 ', '176 ', '110 ', '201 ',
       '213 ', '2.6k ', '166 ', '156 ', '301 ', '344 ', '116 ', '358 ',
       '547 ', '307 ', '138 ', '350 ', '604 ', '171 ', '962 ', '183 ',
       '825 ', '111 ', '205 ', '180 ', '357 ', '193 ', '178 ', '202 ',
       '208 ', '7.4k ', '562 ', '160 ', '226 ', '179 ', '131 ', '127 ',
       '278 ', '144 ', '509 ', '181 ', '685 ', '117 ', '189 ', '5.5k ',
       '522 ', '247 ', '519 ', '265 ', '844 ', '157 ', '252 ', '112 ',
       '4.1k ', '639 ', '512 ', '609 ', '258 ', '6.4k ', '126 ', '225 ',
       '292 ', '993 ', '733 ', '120 ', '809 ', '536 ', '969 ', '169 ',
       '260 ', '688 ', '408 ', '224 ', '242 ', '1.5k ', '374 ', '5.8k ',
       '1.1k ', '211 ', '216 ', '287 ', '348 ', '210 ', '403 ', '200 ',
       '1.9k ', '836 ', '338 ', '488 ', '149 ', '159 ', '135 ', '528 ',
       '465 ', '257 ', '744 ', '254 ', '984 ', '147 ', '3.2k ', '162 ',
       '506 ', '765 ', '236 ', '527 ', '362 ', '354 ', '241 ', '150 ',
       '1k ', '879 ', '1.4k ', '229 ', '474 ', '173 ', '155 ', '293 ',
       '221 ', '422 ', '152 ', '282 ', '7k ', '327 ', '409 ', '386 ',
       '125 ', '492 ', '2.1k ', '276 ', '107 ', '413 ', '616 ', '7.5k ',
       '887 ', '9.4k ', '976 ', '310 ', '256 ', '280 ', '705 ', '430 ',
       '3.5k ', '780 ', '122 ', '608 ', '275 ', '695 ', '8.2k ', '2.3k ',
       '4.4k ', '158 ', '168 ', '774 ', '630 ', '1.3k ', '129 ', '303 ',
       '233 ', '220 ', '142 ', '312 ', '250 ', '859 ', '209 ', '196 ',
       '136 ', '5.7k ', '631 ', '679 ', '255 ', '3.6k ', '395 ', '271 ',
       '353 ', '316 ', '132 ', '4k ', '140 ', '172 ', '431 ', '277 ',
       '331 ', '249 ', '832 ', '304 ', '191 ', '543 ', '269 ', '2.2k ',
       '750 ', '855 ', '299 ', '246 ', '199 ', '513 ', '339 ', '228 ',
       '806 ', '273 ', '799 ', '342 ', '203 ', '725 ', '8.7k ', '439 ',
       '572 ', '425 ', '314 ', '187 ', '128 ', '114 ', '2.8k ', '218 ',
       '212 ', '346 ', '154 ', '207 ', '2.9k ', '243 ', '318 ', '574 ',
       '441 ', '302 ', '376 ', '380 ', '739 ', '219 ', '661 ', '153 ',
       '419 ', '383 ', '776 ', '330 ', '597 ', '295 ', '197 ', '289 ',
       '674 ', '997 ', '448 ', '1.6k ', '932 ', '377 ', '734 ', '130 ',
       '279 ', '624 ', '396 ', '487 ', '367 ', '309 ', '885 ', '214 ',
       '170 ', '341 ', '440 ', '494 ', '895 ', '680 ', '486 ', '449 ',
       '699 ', '540 ', '283 ', '238 ', '889 ', '239 ', '658 ', '760 ',
       '322 ', '192 ', '898 ', '384 ', '248 ', '296 ', '6.2k ', '349 ',
       '364 ', '456 ', '490 ', '730 ', '455 ', '4.6k ', '606 ', '4.3k ',
       '462 ', '473 ', '251 ', '706 ', '471 ', '290 ', '222 ', '496 ',
       '340 ', '373 ', '366 ', '369 ', '311 ', '833 ', '16.8k ', '423 ',
       '410 ', '795 ', '335 ', '291 ', '843 ', '416 ', '294 ', '399 ',
       '424 ', '564 ', '320 ', '1.7k ', '615 ', '464 ', '253 ', '553 ',
       '420 ', '781 ', '297 ', '5.4k ', '433 ', '333 ', '669 ', '533 ',
       '453 ', '285 ', '259 ', '727 ', '565 ', '712 ', '581 ', '9.2k ',
       '217 ', '184 ', '568 ', '215 ', '3.9k ', '696 ', '917 ', '234 ',
       '476 ', '641 ', '4.5k ', '177 ', '270 ', '365 ', '445 ', '272 ',
       '306 ', '378 ', '415 ', '822 ', '325 ', '980 ', '363 ', '584 ',
       '772 ', '704 ', '613 ', '463 ', '662 ', '738 ', '263 ', '686 ',
       '901 ', '337 ', '2.4k ', '392 ', '360 ', '763 ', '558 ', '317 ',
       '862 ', '992 ', '603 ', '321 ', '356 ', '684 ', '466 ', '266 ',
       '188 ', '2.7k ', '847 ', '3.7k ', '343 ', '313 ', '308 ', '3.8k ',
       '944 ', '925 ', '411 ', '947 ', '240 ', '478 ', '893 ', '190 ',
       '762 ', '402 ', '990 ', '237 ', '732 ', '545 ', '443 ', '532 ',
       '673 ', '625 ', '286 ', '459 ', '8.4k ', '232 ', '757 ', '559 ',
       '652 ', '874 ', '754 ', '626 ', '329 ', '6.6k ', '461 ', '298 ',
       '393 ', '759 ', '640 ', '534 ', '227 ', '775 ', '268 ', '595 ',
       '288 ', '388 ', '676 ', '521 ', '804 ', '5.6k ', '959 ', '472 ',
       '394 ', '716 ', '837 ', '715 ', '345 ', '611 ', '548 ', '12.7k ',
       '468 ', '632 ', '593 ', '660 ', '328 ', '414 ', '484 ', '511 ',
       '923 ', '851 ', '614 ', '894 ', '507 ', '670 ', '185 ', '929 ',
       '458 ', '3.3k ', '489 ', '726 ', '576 ', '677 ', '849 ', '708 ',
       '861 ', '319 ', '598 ', '428 ', '412 ', '554 ', '261 ', '9.9k ',
       '720 ', '634 ', '555 ', '541 ', '538 ', '747 ', '703 ', '978 ',
       '502 ', '691 ', '933 ', '391 ', '3.4k ', '592 ', '485 ', '515 ',
       '336 ', '305 ', '814 ', '382 ', '539 ', '678 ', '452 ', '379 ',
       '446 ', '332 ', '752 ', '719 ', '700 ', '518 ', '880 ', '3k ',
       '315 ', '942 ', '617 ', '709 ', '8.3k ', '743 ', '751 ', '601 ',
       '924 ', '508 ', '549 ', '417 ', '858 ', '915 ', '351 ', '755 ',
       '30.7k ', '4.8k ', '891 ', '854 ', '872 ', '884 ', '579 ', '567 ',
       '404 ', '10k ', '863 ', '622 ', '7.7k ', '586 ', '434 ', '591 ',
       '514 ', '7.2k ', '450 ', '672 ', '646 ', '587 ', '503 ', '651 ',
       '438 ', '523 ', '5.3k ', '480 ', '835 ', '842 ', '359 ', '535 ',
       '665 ', '442 ', '963 ', '504 ', '697 ', '740 ', '817 ', '3.1k ',
       '520 ', '435 ', '650 ', '821 ', '865 ', '789 ', '400 ', '826 ',
       '977 ', '950 ', '231 ', '605 ', '767 ', '619 ', '687 ', '927 ',
       '682 ', '300 ', '629 ', '618 ', '666 ', '334 ', '578 ', '798 ',
       '561 ', '988 ', '957 ', '542 ', '946 ', '401 ', '477 ', '819 ',
       '397 ', '427 ', '623 ', '718 ', '773 ', '390 ', '284 ', '389 ',
       '501 ', '575 ', '838 ', '8.9k ', '694 ', '800 ', '689 ', '406 ',
       '63.5k ', '599 ', '451 ', '824 ', '644 ', '407 ', '663 ', '4.7k ',
       '636 ', '398 ', '994 ', '5k ', '482 ', '493 ', '8.1k ', '429 ',
       '563 ', '610 ', '551 ', '761 ', '681 ', '467 ', '381 ', '437 ',
       '582 ', '505 ', '6.8k ', '583 ', '812 ', '736 ', '5.1k ', '9.3k ',
       '4.9k ', '444 ', '701 ', '470 ', '460 ', '937 ', '911 ', '387 ',
       '571 ', '530 ', '426 ', '6.7k ', '432 ', '454 ', '846 ', '938 ',
       '244 ', '475 ', '810 ', '928 ', '17.4k ', '939 ', '13.9k ', '857 ',
       '524 ', '526 ', '683 ', '998 ', '642 ', '481 ', '834 ', '361 ',
       '693 ', '436 ', '600 ', '19.8k ', '949 ', '786 ', '840 ', '909 ',
       '853 ', '903 ', '552 ', '914 ', '794 ', '643 ', '671 ', '546 ',
       '823 ', '877 ', '741 ', '975 ', '707 ', '47.3k ', '904 ', '469 ',
       '702 ', '916 ', '569 ', '573 ', '25.8k ', '588 ', '537 ', '848 ',
       '778 ', '638 ', '931 ', '867 ', '525 ', '557 ', '418 ', '764 ',
       '951 ', '421 ', '753 ', '907 ', '594 ', '655 ', '965 ', '745 ',
       '659 ', '556 ', '45.1k ', '964 ', '529 ', '6k ', '447 ', '566 ',
       '717 ', '560 ', '779 ', '633 ', '886 ', '958 ', '920 ', '989 ',
       '802 ', '22.4k ', '756 ', '787 ', '830 ', '627 ', '7.1k ',
       '27.1k ', '675 ', '517 ', '491 ', '876 ', '495 ', '913 ', '531 ',
       '621 ', '656 ', '106 ', '943 ', '828 ', '796 ', '12.6k ', '25.2k ',
       '10.7k ', '36.7k ', '878 ', '722 ', '371 ', '748 ', '777 ', '856 ',
       '758 ', '782 ', '516 ', '16.4k ', '32.4k ', '589 ', '721 ', '811 ',
       '816 ', '612 ', '724 ', '71.3k ', '668 ', '585 ', '580 ', '11.8k ',
       '713 ', '14.8k ', '23.3k ', '888 ', '690 ', '770 ', '790 ', '500 ',
       '749 ', '807 ', '5.2k ', '967 ', '654 ', '769 ', '645 ', '50.7k ',
       '966 ', '653 ', '8.8k ', '961 ', '42.4k ', '664 ', '860 ', '970 ',
       '922 ', '51.5k ', '899 ', '971 ', '985 ', '5.9k ', '972 ', '-- ',
       '871 '], dtype=object)

In [551]:
a = ['434 ', '147 ', '340 ', '108 ', '1.5k ', '140 ', '112 ', '241 ',
       '248 ', '324 ', '1.8k ', '161 ', '1.1k ', '143 ', '123 ', '182 ',
       '111 ', '220 ', '302 ', '303 ', '242 ', '158 ', '576 ', '448 ',
       '488 ', '348 ', '213 ', '526 ', '157 ', '258 ', '118 ', '685 ']

In [552]:
for i in a:
    
    print(i)
    print(i[-1])

434

147

340

108

1.5k

140

112

241

248

324

1.8k

161

1.1k

143

123

182

111

220

302

303

242

158

576

448

488

348

213

526

157

258

118

685

In [553]:
df['Reviews'].str.replace('k','').unique()

array(['544 ', '182 ', '323 ', '385 ', '108 ', '230 ', '146 ', '198 ',
       '115 ', '148 ', '905 ', '570 ', '145 ', '405 ', '186 ', '139 ',
       '174 ', '143 ', '151 ', '667 ', '4.2 ', '165 ', '267 ', '223 ',
       '11.7 ', '498 ', '133 ', '164 ', '167 ', '109 ', '204 ', '141 ',
       '124 ', '577 ', '206 ', '497 ', '245 ', '119 ', '123 ', '113 ',
       '370 ', '479 ', '235 ', '1.2 ', '324 ', '175 ', '352 ', '1.8 ',
       '2 ', '281 ', '195 ', '274 ', '7.6 ', '163 ', '134 ', '355 ',
       '2.5 ', '326 ', '161 ', '262 ', '483 ', '372 ', '118 ', '194 ',
       '137 ', '264 ', '121 ', '375 ', '368 ', '176 ', '110 ', '201 ',
       '213 ', '2.6 ', '166 ', '156 ', '301 ', '344 ', '116 ', '358 ',
       '547 ', '307 ', '138 ', '350 ', '604 ', '171 ', '962 ', '183 ',
       '825 ', '111 ', '205 ', '180 ', '357 ', '193 ', '178 ', '202 ',
       '208 ', '7.4 ', '562 ', '160 ', '226 ', '179 ', '131 ', '127 ',
       '278 ', '144 ', '509 ', '181 ', '685 ', '117 ', '189 ', '5.5 ',
       '522 ', '247 ', '519 ', '265 ', '844 ', '157 ', '252 ', '112 ',
       '4.1 ', '639 ', '512 ', '609 ', '258 ', '6.4 ', '126 ', '225 ',
       '292 ', '993 ', '733 ', '120 ', '809 ', '536 ', '969 ', '169 ',
       '260 ', '688 ', '408 ', '224 ', '242 ', '1.5 ', '374 ', '5.8 ',
       '1.1 ', '211 ', '216 ', '287 ', '348 ', '210 ', '403 ', '200 ',
       '1.9 ', '836 ', '338 ', '488 ', '149 ', '159 ', '135 ', '528 ',
       '465 ', '257 ', '744 ', '254 ', '984 ', '147 ', '3.2 ', '162 ',
       '506 ', '765 ', '236 ', '527 ', '362 ', '354 ', '241 ', '150 ',
       '1 ', '879 ', '1.4 ', '229 ', '474 ', '173 ', '155 ', '293 ',
       '221 ', '422 ', '152 ', '282 ', '7 ', '327 ', '409 ', '386 ',
       '125 ', '492 ', '2.1 ', '276 ', '107 ', '413 ', '616 ', '7.5 ',
       '887 ', '9.4 ', '976 ', '310 ', '256 ', '280 ', '705 ', '430 ',
       '3.5 ', '780 ', '122 ', '608 ', '275 ', '695 ', '8.2 ', '2.3 ',
       '4.4 ', '158 ', '168 ', '774 ', '630 ', '1.3 ', '129 ', '303 ',
       '233 ', '220 ', '142 ', '312 ', '250 ', '859 ', '209 ', '196 ',
       '136 ', '5.7 ', '631 ', '679 ', '255 ', '3.6 ', '395 ', '271 ',
       '353 ', '316 ', '132 ', '4 ', '140 ', '172 ', '431 ', '277 ',
       '331 ', '249 ', '832 ', '304 ', '191 ', '543 ', '269 ', '2.2 ',
       '750 ', '855 ', '299 ', '246 ', '199 ', '513 ', '339 ', '228 ',
       '806 ', '273 ', '799 ', '342 ', '203 ', '725 ', '8.7 ', '439 ',
       '572 ', '425 ', '314 ', '187 ', '128 ', '114 ', '2.8 ', '218 ',
       '212 ', '346 ', '154 ', '207 ', '2.9 ', '243 ', '318 ', '574 ',
       '441 ', '302 ', '376 ', '380 ', '739 ', '219 ', '661 ', '153 ',
       '419 ', '383 ', '776 ', '330 ', '597 ', '295 ', '197 ', '289 ',
       '674 ', '997 ', '448 ', '1.6 ', '932 ', '377 ', '734 ', '130 ',
       '279 ', '624 ', '396 ', '487 ', '367 ', '309 ', '885 ', '214 ',
       '170 ', '341 ', '440 ', '494 ', '895 ', '680 ', '486 ', '449 ',
       '699 ', '540 ', '283 ', '238 ', '889 ', '239 ', '658 ', '760 ',
       '322 ', '192 ', '898 ', '384 ', '248 ', '296 ', '6.2 ', '349 ',
       '364 ', '456 ', '490 ', '730 ', '455 ', '4.6 ', '606 ', '4.3 ',
       '462 ', '473 ', '251 ', '706 ', '471 ', '290 ', '222 ', '496 ',
       '340 ', '373 ', '366 ', '369 ', '311 ', '833 ', '16.8 ', '423 ',
       '410 ', '795 ', '335 ', '291 ', '843 ', '416 ', '294 ', '399 ',
       '424 ', '564 ', '320 ', '1.7 ', '615 ', '464 ', '253 ', '553 ',
       '420 ', '781 ', '297 ', '5.4 ', '433 ', '333 ', '669 ', '533 ',
       '453 ', '285 ', '259 ', '727 ', '565 ', '712 ', '581 ', '9.2 ',
       '217 ', '184 ', '568 ', '215 ', '3.9 ', '696 ', '917 ', '234 ',
       '476 ', '641 ', '4.5 ', '177 ', '270 ', '365 ', '445 ', '272 ',
       '306 ', '378 ', '415 ', '822 ', '325 ', '980 ', '363 ', '584 ',
       '772 ', '704 ', '613 ', '463 ', '662 ', '738 ', '263 ', '686 ',
       '901 ', '337 ', '2.4 ', '392 ', '360 ', '763 ', '558 ', '317 ',
       '862 ', '992 ', '603 ', '321 ', '356 ', '684 ', '466 ', '266 ',
       '188 ', '2.7 ', '847 ', '3.7 ', '343 ', '313 ', '308 ', '3.8 ',
       '944 ', '925 ', '411 ', '947 ', '240 ', '478 ', '893 ', '190 ',
       '762 ', '402 ', '990 ', '237 ', '732 ', '545 ', '443 ', '532 ',
       '673 ', '625 ', '286 ', '459 ', '8.4 ', '232 ', '757 ', '559 ',
       '652 ', '874 ', '754 ', '626 ', '329 ', '6.6 ', '461 ', '298 ',
       '393 ', '759 ', '640 ', '534 ', '227 ', '775 ', '268 ', '595 ',
       '288 ', '388 ', '676 ', '521 ', '804 ', '5.6 ', '959 ', '472 ',
       '394 ', '716 ', '837 ', '715 ', '345 ', '611 ', '548 ', '12.7 ',
       '468 ', '632 ', '593 ', '660 ', '328 ', '414 ', '484 ', '511 ',
       '923 ', '851 ', '614 ', '894 ', '507 ', '670 ', '185 ', '929 ',
       '458 ', '3.3 ', '489 ', '726 ', '576 ', '677 ', '849 ', '708 ',
       '861 ', '319 ', '598 ', '428 ', '412 ', '554 ', '261 ', '9.9 ',
       '720 ', '634 ', '555 ', '541 ', '538 ', '747 ', '703 ', '978 ',
       '502 ', '691 ', '933 ', '391 ', '3.4 ', '592 ', '485 ', '515 ',
       '336 ', '305 ', '814 ', '382 ', '539 ', '678 ', '452 ', '379 ',
       '446 ', '332 ', '752 ', '719 ', '700 ', '518 ', '880 ', '3 ',
       '315 ', '942 ', '617 ', '709 ', '8.3 ', '743 ', '751 ', '601 ',
       '924 ', '508 ', '549 ', '417 ', '858 ', '915 ', '351 ', '755 ',
       '30.7 ', '4.8 ', '891 ', '854 ', '872 ', '884 ', '579 ', '567 ',
       '404 ', '10 ', '863 ', '622 ', '7.7 ', '586 ', '434 ', '591 ',
       '514 ', '7.2 ', '450 ', '672 ', '646 ', '587 ', '503 ', '651 ',
       '438 ', '523 ', '5.3 ', '480 ', '835 ', '842 ', '359 ', '535 ',
       '665 ', '442 ', '963 ', '504 ', '697 ', '740 ', '817 ', '3.1 ',
       '520 ', '435 ', '650 ', '821 ', '865 ', '789 ', '400 ', '826 ',
       '977 ', '950 ', '231 ', '605 ', '767 ', '619 ', '687 ', '927 ',
       '682 ', '300 ', '629 ', '618 ', '666 ', '334 ', '578 ', '798 ',
       '561 ', '988 ', '957 ', '542 ', '946 ', '401 ', '477 ', '819 ',
       '397 ', '427 ', '623 ', '718 ', '773 ', '390 ', '284 ', '389 ',
       '501 ', '575 ', '838 ', '8.9 ', '694 ', '800 ', '689 ', '406 ',
       '63.5 ', '599 ', '451 ', '824 ', '644 ', '407 ', '663 ', '4.7 ',
       '636 ', '398 ', '994 ', '5 ', '482 ', '493 ', '8.1 ', '429 ',
       '563 ', '610 ', '551 ', '761 ', '681 ', '467 ', '381 ', '437 ',
       '582 ', '505 ', '6.8 ', '583 ', '812 ', '736 ', '5.1 ', '9.3 ',
       '4.9 ', '444 ', '701 ', '470 ', '460 ', '937 ', '911 ', '387 ',
       '571 ', '530 ', '426 ', '6.7 ', '432 ', '454 ', '846 ', '938 ',
       '244 ', '475 ', '810 ', '928 ', '17.4 ', '939 ', '13.9 ', '857 ',
       '524 ', '526 ', '683 ', '998 ', '642 ', '481 ', '834 ', '361 ',
       '693 ', '436 ', '600 ', '19.8 ', '949 ', '786 ', '840 ', '909 ',
       '853 ', '903 ', '552 ', '914 ', '794 ', '643 ', '671 ', '546 ',
       '823 ', '877 ', '741 ', '975 ', '707 ', '47.3 ', '904 ', '469 ',
       '702 ', '916 ', '569 ', '573 ', '25.8 ', '588 ', '537 ', '848 ',
       '778 ', '638 ', '931 ', '867 ', '525 ', '557 ', '418 ', '764 ',
       '951 ', '421 ', '753 ', '907 ', '594 ', '655 ', '965 ', '745 ',
       '659 ', '556 ', '45.1 ', '964 ', '529 ', '6 ', '447 ', '566 ',
       '717 ', '560 ', '779 ', '633 ', '886 ', '958 ', '920 ', '989 ',
       '802 ', '22.4 ', '756 ', '787 ', '830 ', '627 ', '7.1 ', '27.1 ',
       '675 ', '517 ', '491 ', '876 ', '495 ', '913 ', '531 ', '621 ',
       '656 ', '106 ', '943 ', '828 ', '796 ', '12.6 ', '25.2 ', '10.7 ',
       '36.7 ', '878 ', '722 ', '371 ', '748 ', '777 ', '856 ', '758 ',
       '782 ', '516 ', '16.4 ', '32.4 ', '589 ', '721 ', '811 ', '816 ',
       '612 ', '724 ', '71.3 ', '668 ', '585 ', '580 ', '11.8 ', '713 ',
       '14.8 ', '23.3 ', '888 ', '690 ', '770 ', '790 ', '500 ', '749 ',
       '807 ', '5.2 ', '967 ', '654 ', '769 ', '645 ', '50.7 ', '966 ',
       '653 ', '8.8 ', '961 ', '42.4 ', '664 ', '860 ', '970 ', '922 ',
       '51.5 ', '899 ', '971 ', '985 ', '5.9 ', '972 ', '-- ', '871 '],
      dtype=object)

In [554]:
def remove_car(df: str) -> pd.DataFrame:
    df['Reviews'] = df['Reviews'].str.replace('k','')
    df['Reviews'] = df['Reviews'].str.replace('L','')
    df['Reviews'] = df['Reviews'].str.replace('--','')
    df['Reviews'] = df['Reviews'].str.replace(' ','0')
    df['Reviews'] = df['Reviews'].astype(float)
    return df

In [555]:
df.head()

  company_reviews Reviews Salaries Interviews jobs Benefits photos
0            good    544      4.5k         48   34       31      6
1            Poor    182       895          8   18       15      1
2            Poor    323      2.5k         40   12       25     25
3            good    385      1.3k         26   12       12     --
4            good    108       513          8   --        4     --

In [557]:
df['company_reviews'].value_counts()

company_reviews
good         4779
excellent    1674
Poor         1153
Name: count, dtype: int64

In [558]:
import pandas as pd

In [559]:
a = remove_car(df=df)

In [560]:
df[df['Reviews']==' ']

Empty DataFrame
Columns: [company_reviews, Reviews, Salaries, Interviews, jobs, Benefits, photos]
Index: []

In [561]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company_reviews  7606 non-null   object
 1   Reviews          7606 non-null   float64
 2   Salaries         7606 non-null   object
 3   Interviews       7606 non-null   object
 4   jobs             7606 non-null   object
 5   Benefits         7606 non-null   object
 6   photos           7606 non-null   object
dtypes: float64(1), object(6)
memory usage: 416.1+ KB

In [562]:
def astype(df: pd.DataFrame) -> pd.DataFrame:
    df['Reviews'] = df['Reviews'].astype(float)
    return df

In [563]:
a = astype(a)

In [564]:
df['Salaries'].unique()

array(['4.5k', '895', '2.5k', ..., '21k', '55', '1'], dtype=object)

In [565]:
b = []

for i in a['Salaries']:
    if 'k' in i:
        n = i.replace('k','')
        n = float(n)
        n = n * 1000
        b.append(n)
    elif 'L' in i:
        n = i.replace('L','')
        n = float(n)
        n = n * 100000
        b.append(n)
    else:
        b.append(i)

In [566]:
def replace_salary_car(df: pd.DataFrame) -> pd.DataFrame:
    b = []

    for i in df['Salaries']:
        if 'k' in i:
            n = i.replace('k','')
            n = float(n)
            n = n * 1000
            b.append(n)
        elif 'L' in i:
            n = i.replace('L','')
            n = float(n)
            n = n * 100000
            b.append(n)
        elif '--' in i:
            n = i.replace('--','0')
            n = float(n)
            n = n * 100000
            b.append(n)
        else:
            b.append(i)
    df['Salaries'] = b
    df['Salaries'] = df.drop(index=952)['Salaries'].astype(float)
    return df

In [567]:
y = replace_salary_car(df=df)

In [568]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company_reviews  7606 non-null   object
 1   Reviews          7606 non-null   float64
 2   Salaries         7605 non-null   float64
 3   Interviews       7606 non-null   object
 4   jobs             7606 non-null   object
 5   Benefits         7606 non-null   object
 6   photos           7606 non-null   object
dtypes: float64(2), object(5)
memory usage: 416.1+ KB

In [569]:
pd.DataFrame(b)[0].unique()

array([4500.0, '895', 2500.0, ..., 21000.0, '55', '1'], dtype=object)

In [570]:
df.drop(index=952)['Salaries'].astype(float)

0       4500.0
1        895.0
2       2500.0
3       1300.0
4        513.0
         ...
7601     516.0
7602     517.0
7603    1200.0
7604    4500.0
7605     304.0
Name: Salaries, Length: 7605, dtype: float64

In [571]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company_reviews  7606 non-null   object
 1   Reviews          7606 non-null   float64
 2   Salaries         7605 non-null   float64
 3   Interviews       7606 non-null   object
 4   jobs             7606 non-null   object
 5   Benefits         7606 non-null   object
 6   photos           7606 non-null   object
dtypes: float64(2), object(5)
memory usage: 416.1+ KB

In [572]:
df.head()

  company_reviews  Reviews  Salaries Interviews jobs Benefits photos
0            good   5440.0    4500.0         48   34       31      6
1            Poor   1820.0     895.0          8   18       15      1
2            Poor   3230.0    2500.0         40   12       25     25
3            good   3850.0    1300.0         26   12       12     --
4            good   1080.0     513.0          8   --        4     --

In [573]:
df["Interviews"].unique()

array(['48', '8', '40', '26', '10', '20', '15', '9', '145', '27', '35',
       '12', '13', '7', '23', '444', '28', '17', '1.1k', '4', '19', '11',
       '47', '77', '3', '75', '92', '29', '136', '312', '21', '16', '474',
       '5', '185', '25', '78', '38', '100', '34', '43', '116', '152',
       '14', '6', '31', '22', '54', '18', '45', '32', '879', '36', '66',
       '387', '82', '57', '46', '41', '58', '367', '37', '101', '33',
       '626', '69', '73', '67', '2', '53', '119', '206', '49', '24', '93',
       '44', '368', '176', '56', '39', '83', '95', '42', '917', '64',
       '111', '273', '91', '770', '117', '370', '61', '777', '618', '174',
       '249', '52', '1', '99', '192', '71', '68', '423', '373', '178',
       '202', '313', '135', '60', '416', '30', '329', '63', '94', '96',
       '143', '516', '121', '1k', '161', '201', '84', '184', '62', '189',
       '140', '112', '97', '305', '198', '332', '55', '106', '137', '79',
       '223', '104', '76', '128', '50', '260', '85', '255', '87', '155',
       '246', '132', '346', '213', '51', '120', '147', '70', '303', '--',
       '133', '747', '129', '156', '413', '563', '86', '784', '102',
       '107', '204', '239', '172', '166', '266', '103', '59', '209',
       '182', '74', '113', '181', '188', '259', '296', '399', '141',
       '247', '167', '173', '179', '171', '225', '159', '340', '893',
       '90', '146', '702', '131', '65', '514', '114', '125', '212', '354',
       '122', '123', '714', '250', '81', '283', '80', '219', '234', '314',
       '89', '277', '149', '194', '208', '590', '546', '72', '317', '130',
       '88', '248', '154', '218', '165', '195', '622', '109', '118',
       '197', '470', '227', '275', '361', '124', '265', '5.8k', '316',
       '377', '548', '754', '203', '285', '134', '943', '183', '556',
       '158', '217', '186', '163', '175', '168', '323', '300', '261',
       '417', '127', '193', '150', '816', '287', '579', '138', '253',
       '220', '437', '231', '676', '289', '290', '440', '274', '245',
       '918', '6.7k', '108', '257', '270', '169', '345', '420', '532',
       '450', '690', '148', '343', '499', '327', '268', '359', '105',
       '326', '838', '235', '98', '878', '272', '180', '286', '210',
       '585', '110', '442', '139', '673', '232', '757', '233', '882',
       '406', '199', '376', '1.6k', '311', '321', '815', '308', '396',
       '160', '8.3k', '115', '214', '337', '3.4k', '415', '304', '793',
       '888', '229', '263', '612', '252', '151', '162', '348', '2.9k',
       '280', '292', '144', '589', '126', '200', '356', '164', '291',
       '380', '157', '3.3k', '207', '153', '829', '237', '463', '408',
       '177', '243', '254', '411', '226', '858', '656', '633', '405',
       '733', '2.2k', '395', '294', '2.1k', '392', '1.9k', '424', '224',
       '523', '256', '393', '945', '9.2k', '322', '216', '845', '1.2k',
       '1.8k', '191', '242', '241', '170', '679', '267', '410', '438',
       '427', '142', '302', '385', '480', '187', '276', '477', '331',
       '705', '4.5k', '307', '5.4k', '328', '667', '306', '602'],
      dtype=object)

In [574]:
# remove letter in salary columns and change the datatype into float
def replace_Interviews_car(df: pd.DataFrame) -> pd.DataFrame:
    b = []

    for i in df['Interviews']:
        if 'k' in i:
            n = i.replace('k','')
            n = float(n)
            n = n * 1000
            b.append(n)
        elif '--' in i:
            n = i.replace('--','0')
            n = float(n)
            b.append(n)
        else:
            b.append(i)
    df['Interviews'] = b
    df['Interviews'] = df['Interviews'].astype(float)

    return df

In [575]:
replace_Interviews_car(df=df)

     company_reviews  Reviews  Salaries  Interviews jobs Benefits photos
0               good   5440.0    4500.0        48.0   34       31      6
1               Poor   1820.0     895.0         8.0   18       15      1
2               Poor   3230.0    2500.0        40.0   12       25     25
3               good   3850.0    1300.0        26.0   12       12     --
4               good   1080.0     513.0         8.0   --        4     --
...              ...      ...       ...         ...  ...      ...    ...
7601            good   1900.0     516.0        18.0   --       14      1
7602            good   2050.0     517.0        21.0    4        7      2
7603            good   1980.0    1200.0        16.0   20       13      6
7604       excellent      1.2    4500.0        66.0   --       66     20
7605       excellent   1460.0     304.0         8.0   --        2      5

[7606 rows x 7 columns]

In [576]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company_reviews  7606 non-null   object
 1   Reviews          7606 non-null   float64
 2   Salaries         7605 non-null   float64
 3   Interviews       7606 non-null   float64
 4   jobs             7606 non-null   object
 5   Benefits         7606 non-null   object
 6   photos           7606 non-null   object
dtypes: float64(3), object(4)
memory usage: 416.1+ KB

In [577]:
df.head()

  company_reviews  Reviews  Salaries  Interviews jobs Benefits photos
0            good   5440.0    4500.0        48.0   34       31      6
1            Poor   1820.0     895.0         8.0   18       15      1
2            Poor   3230.0    2500.0        40.0   12       25     25
3            good   3850.0    1300.0        26.0   12       12     --
4            good   1080.0     513.0         8.0   --        4     --

In [578]:
df[df['jobs'] == '--']

     company_reviews  Reviews  Salaries  Interviews jobs Benefits photos
4               good   1080.0     513.0         8.0   --        4     --
5               good   2300.0    1200.0        10.0   --       23     --
6               good   1460.0     624.0        20.0   --       10     --
8          excellent   1150.0     432.0         9.0   --        1     --
9               good   1480.0     590.0         8.0   --       14      2
...              ...      ...       ...         ...  ...      ...    ...
7597       excellent   1910.0     891.0        16.0   --       12     --
7598            good   2400.0     845.0        20.0   --       12      2
7601            good   1900.0     516.0        18.0   --       14      1
7604       excellent      1.2    4500.0        66.0   --       66     20
7605       excellent   1460.0     304.0         8.0   --        2      5

[3083 rows x 7 columns]

In [579]:
df['jobs'].unique()

array(['34', '18', '12', '--', '5', '14', '3', '134', '2', '74', '4',
       '21', '11', '1', '7', '10', '27', '8', '56', '804', '6', '26',
       '111', '13', '37', '9', '23', '38', '29', '370', '53', '25', '66',
       '164', '98', '33', '91', '16', '175', '107', '15', '142', '85',
       '22', '28', '105', '31', '20', '52', '30', '86', '36', '405',
       '726', '40', '94', '64', '49', '19', '17', '44', '547', '90',
       '117', '131', '76', '136', '95', '212', '39', '283', '132', '62',
       '41', '35', '75', '123', '43', '152', '104', '48', '84', '288',
       '50', '93', '116', '268', '83', '220', '71', '156', '527', '51',
       '42', '149', '351', '243', '24', '189', '295', '79', '118', '63',
       '215', '207', '54', '58', '32', '77', '69', '170', '188', '65',
       '128', '222', '216', '68', '1.5k', '106', '306', '138', '224',
       '45', '221', '47', '150', '799', '401', '202', '88', '137', '214',
       '130', '307', '3.8k', '223', '141', '57', '46', '948', '602',
       '109', '285', '67', '120', '147', '290', '1.8k', '146', '346',
       '344', '231', '143', '115', '81', '183', '72', '630', '129', '70',
       '99', '89', '60', '282', '735', '5.8k', '103', '201', '92', '78',
       '127', '273', '122', '59', '154', '73', '82', '126', '423', '55',
       '1.1k', '246', '248', '80', '144', '483', '563', '114', '239',
       '133', '101', '61', '233', '236', '2.5k', '648', '87', '533',
       '145', '277', '192', '342', '177', '443', '314', '151', '194',
       '553', '514', '365', '135', '162', '125', '1.6k', '159', '241',
       '244', '110', '206', '100', '258', '406', '883', '301', '157',
       '1.4k', '541', '334', '226', '377', '124', '176', '181', '665',
       '1k', '567', '830', '42k', '119', '399', '148', '278', '102',
       '304', '252', '398', '225', '725', '313', '7.1k', '353', '414',
       '139', '865', '234', '249', '309', '535', '325', '343', '463',
       '604', '1.9k', '237', '203', '998', '247', '198', '1.3k', '393'],
      dtype=object)

In [580]:
def replace_jobs_car(df: pd.DataFrame) -> pd.DataFrame:
    b = []

    for i in df['jobs']:
        if 'k' in i:
            n = i.replace('k','')
            n = float(n)
            n = n * 1000
            b.append(n)
        elif '--' in i:
            n = i.replace('--','0')
            n = float(n)
            b.append(n)
        else:
            b.append(i)
    df['jobs'] = b
    df['jobs'] = df['jobs'].astype(float)

    return df

In [581]:
replace_jobs_car(df=df)

     company_reviews  Reviews  Salaries  Interviews  jobs Benefits photos
0               good   5440.0    4500.0        48.0  34.0       31      6
1               Poor   1820.0     895.0         8.0  18.0       15      1
2               Poor   3230.0    2500.0        40.0  12.0       25     25
3               good   3850.0    1300.0        26.0  12.0       12     --
4               good   1080.0     513.0         8.0   0.0        4     --
...              ...      ...       ...         ...   ...      ...    ...
7601            good   1900.0     516.0        18.0   0.0       14      1
7602            good   2050.0     517.0        21.0   4.0        7      2
7603            good   1980.0    1200.0        16.0  20.0       13      6
7604       excellent      1.2    4500.0        66.0   0.0       66     20
7605       excellent   1460.0     304.0         8.0   0.0        2      5

[7606 rows x 7 columns]

In [582]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company_reviews  7606 non-null   object
 1   Reviews          7606 non-null   float64
 2   Salaries         7605 non-null   float64
 3   Interviews       7606 non-null   float64
 4   jobs             7606 non-null   float64
 5   Benefits         7606 non-null   object
 6   photos           7606 non-null   object
dtypes: float64(4), object(3)
memory usage: 416.1+ KB

In [583]:
df.head()

  company_reviews  Reviews  Salaries  Interviews  jobs Benefits photos
0            good   5440.0    4500.0        48.0  34.0       31      6
1            Poor   1820.0     895.0         8.0  18.0       15      1
2            Poor   3230.0    2500.0        40.0  12.0       25     25
3            good   3850.0    1300.0        26.0  12.0       12     --
4            good   1080.0     513.0         8.0   0.0        4     --

In [584]:
df['Benefits'].unique()

array(['31', '15', '25', '12', '4', '23', '10', '3', '1', '14', '129',
       '47', '11', '27', '9', '20', '84', '199', '1.1k', '38', '22', '8',
       '16', '37', '33', '21', '19', '17', '7', '39', '5', '87', '6',
       '26', '122', '163', '625', '2', '40', '132', '13', '29', '192',
       '24', '73', '18', '205', '50', '44', '46', '34', '113', '98', '28',
       '64', '94', '57', '45', '--', '49', '212', '66', '444', '143',
       '42', '53', '43', '63', '83', '348', '60', '32', '62', '68', '115',
       '54', '154', '315', '180', '103', '86', '200', '110', '51', '516',
       '74', '30', '749', '105', '148', '55', '968', '35', '345', '614',
       '41', '520', '227', '257', '297', '183', '114', '48', '755', '317',
       '396', '579', '139', '151', '276', '80', '93', '70', '107', '261',
       '190', '88', '397', '58', '101', '120', '158', '147', '432', '240',
       '97', '81', '221', '128', '52', '623', '79', '77', '135', '102',
       '131', '78', '119', '36', '85', '206', '399', '59', '127', '71',
       '325', '123', '61', '629', '332', '150', '56', '1.6k', '75', '91',
       '266', '155', '173', '244', '278', '156', '343', '171', '203',
       '216', '619', '144', '142', '391', '118', '138', '210', '226',
       '89', '69', '146', '230', '76', '65', '349', '95', '256', '306',
       '255', '176', '435', '72', '130', '166', '99', '121', '281', '412',
       '202', '799', '116', '136', '152', '211', '273', '322', '233',
       '248', '439', '125', '104', '366', '109', '112', '392', '706',
       '178', '217', '174', '340', '153', '362', '537', '111', '243',
       '189', '170', '249', '67', '250', '186', '608', '96', '305', '421',
       '530', '215', '117', '100', '330', '184', '517', '288', '159',
       '998', '245', '268', '82', '218', '106', '944', '92', '4.1k',
       '134', '298', '772', '361', '140', '686', '434', '291', '929',
       '406', '145', '354', '193', '286', '141', '267', '426', '441',
       '194', '191', '164', '237', '311', '289', '547', '137', '231',
       '204', '378', '260', '124', '90', '149', '515', '320', '457',
       '169', '181', '312', '846', '168', '4.6k', '108', '359', '321',
       '632', '721', '436', '642', '443', '740', '201', '342', '334',
       '539', '187', '884', '643', '570', '167', '177', '126', '496',
       '214', '253', '272', '540', '474', '229', '275', '364', '2k',
       '375', '793', '413', '624', '582', '410', '1.8k', '264', '400',
       '584', '242', '4.8k', '235', '371', '777', '328', '162', '602',
       '309', '185', '323', '196', '445', '3.7k', '352', '182', '228',
       '133', '172', '160', '232', '2.4k', '310', '274', '197', '704',
       '223', '430', '220', '377', '279', '179', '263', '285', '845',
       '594', '1.4k', '456', '1.5k', '528', '293', '1.7k', '372', '2.1k',
       '225', '222', '347', '617', '6.7k', '518', '258', '507', '1.2k',
       '1.3k', '2.5k', '423', '246', '524', '855', '546', '764', '502',
       '344', '605', '213', '3.2k', '466', '901', '369', '346', '3.4k',
       '327', '165', '157', '270', '389', '351', '318', '308', '379',
       '656', '458'], dtype=object)

In [585]:
def replace_Benefits_car(df: pd.DataFrame) -> pd.DataFrame:
    b = []

    for i in df['Benefits']:
        if 'k' in i:
            n = i.replace('k','')
            n = float(n)
            n = n * 1000
            b.append(n)
        elif '--' in i:
            n = i.replace('--','0')
            n = float(n)
            b.append(n)
        else:
            b.append(i)
    df['Benefits'] = b
    df['Benefits'] = df['Benefits'].astype(float)

    return df

In [586]:
replace_Benefits_car(df=df)

     company_reviews  Reviews  Salaries  Interviews  jobs  Benefits photos
0               good   5440.0    4500.0        48.0  34.0      31.0      6
1               Poor   1820.0     895.0         8.0  18.0      15.0      1
2               Poor   3230.0    2500.0        40.0  12.0      25.0     25
3               good   3850.0    1300.0        26.0  12.0      12.0     --
4               good   1080.0     513.0         8.0   0.0       4.0     --
...              ...      ...       ...         ...   ...       ...    ...
7601            good   1900.0     516.0        18.0   0.0      14.0      1
7602            good   2050.0     517.0        21.0   4.0       7.0      2
7603            good   1980.0    1200.0        16.0  20.0      13.0      6
7604       excellent      1.2    4500.0        66.0   0.0      66.0     20
7605       excellent   1460.0     304.0         8.0   0.0       2.0      5

[7606 rows x 7 columns]

In [587]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company_reviews  7606 non-null   object
 1   Reviews          7606 non-null   float64
 2   Salaries         7605 non-null   float64
 3   Interviews       7606 non-null   float64
 4   jobs             7606 non-null   float64
 5   Benefits         7606 non-null   float64
 6   photos           7606 non-null   object
dtypes: float64(5), object(2)
memory usage: 416.1+ KB

In [588]:
df.head()

  company_reviews  Reviews  Salaries  Interviews  jobs  Benefits photos
0            good   5440.0    4500.0        48.0  34.0      31.0      6
1            Poor   1820.0     895.0         8.0  18.0      15.0      1
2            Poor   3230.0    2500.0        40.0  12.0      25.0     25
3            good   3850.0    1300.0        26.0  12.0      12.0     --
4            good   1080.0     513.0         8.0   0.0       4.0     --

In [589]:
df[df['photos'] == '--']

     company_reviews  Reviews  Salaries  Interviews  jobs  Benefits photos
3               good   3850.0    1300.0        26.0  12.0      12.0     --
4               good   1080.0     513.0         8.0   0.0       4.0     --
5               good   2300.0    1200.0        10.0   0.0      23.0     --
6               good   1460.0     624.0        20.0   0.0      10.0     --
7               good   1980.0     703.0        15.0   5.0       3.0     --
...              ...      ...       ...         ...   ...       ...    ...
7590       excellent   2100.0     567.0        11.0   0.0      22.0     --
7591       excellent   2010.0     890.0        11.0  53.0      25.0     --
7596            good   1250.0     480.0         7.0   1.0      16.0     --
7597       excellent   1910.0     891.0        16.0   0.0      12.0     --
7600            good   1690.0     400.0        12.0   5.0       5.0     --

[4307 rows x 7 columns]

In [590]:
def replace_photos_car(df: pd.DataFrame) -> pd.DataFrame:
    b = []

    for i in df['photos']:
        if 'k' in i:
            n = i.replace('k','')
            n = float(n)
            n = n * 1000
            b.append(n)
        elif '--' in i:
            n = i.replace('--','0')
            n = float(n)
            b.append(n)
        else:
            b.append(i)
    df['photos'] = b
    df['photos'] = df['photos'].astype(int)

    return df

In [591]:
replace_photos_car(df=df)

     company_reviews  Reviews  Salaries  Interviews  jobs  Benefits  photos
0               good   5440.0    4500.0        48.0  34.0      31.0       6
1               Poor   1820.0     895.0         8.0  18.0      15.0       1
2               Poor   3230.0    2500.0        40.0  12.0      25.0      25
3               good   3850.0    1300.0        26.0  12.0      12.0       0
4               good   1080.0     513.0         8.0   0.0       4.0       0
...              ...      ...       ...         ...   ...       ...     ...
7601            good   1900.0     516.0        18.0   0.0      14.0       1
7602            good   2050.0     517.0        21.0   4.0       7.0       2
7603            good   1980.0    1200.0        16.0  20.0      13.0       6
7604       excellent      1.2    4500.0        66.0   0.0      66.0      20
7605       excellent   1460.0     304.0         8.0   0.0       2.0       5

[7606 rows x 7 columns]

In [592]:
df['photos'].value_counts()

photos
0      4307
1       735
2       389
3       271
4       227
       ...
416       1
55        1
126       1
139       1
75        1
Name: count, Length: 109, dtype: int64

In [593]:
from sklearn.linear_model import LinearRegression

In [594]:
lr = LinearRegression()

In [617]:
df.dropna(inplace=True)

In [618]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='Salaries'),df['Salaries'], test_size=0.2, random_state=42)

In [619]:
X_train.head()

     company_reviews  Reviews  Interviews  jobs  Benefits  photos
4049            good   2070.0        14.0   1.0      24.0       0
1635            good   2250.0         7.0  15.0      22.0       0
4992            good   1690.0         7.0   0.0       9.0       0
6203            good   1170.0        11.0   0.0       8.0       4
4903            good   3160.0        16.0   0.0      26.0       0

In [620]:
from sklearn.preprocessing import OneHotEncoder
one  = OneHotEncoder(drop='first',sparse_output=False)

In [621]:
one.fit(X_train[['company_reviews']])
train = one.transform(X_train[['company_reviews']])
test = one.transform(X_test[['company_reviews']])

In [622]:
from sklearn.compose import ColumnTransformer

In [623]:
t = ColumnTransformer(transformers=[
    ('Oneh',one,[0]),
], remainder='passthrough')

In [ ]:
def columns_transormers(df: pd.DataFrame) -> pd.DataFrame:
    col = ColumnTransformer(transformers=[

        ('Oneh',one,[0]),
    ], remainder='passthrough')
    new_df = col.fit_transform(df)
    new_df = pd.DataFrame(new_df,columns=col.get_feature_names_out())
    return new_df

In [624]:
t.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('Oneh',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 [0])])

In [625]:
pd.DataFrame(t.transform(X_train),columns=t.get_feature_names_out())

,Oneh__company_reviews_excellent,Oneh__company_reviews_good,remainder__Reviews,remainder__Interviews,remainder__jobs,remainder__Benefits,remainder__photos
0,0.0,1.0,2070.0,14.0,1.0,24.0,0.0
1,0.0,1.0,2250.0,7.0,15.0,22.0,0.0
2,0.0,1.0,1690.0,7.0,0.0,9.0,0.0
3,0.0,1.0,1170.0,11.0,0.0,8.0,4.0
4,0.0,1.0,3160.0,16.0,0.0,26.0,0.0
...,...,...,...,...,...,...,...
6079,0.0,0.0,1920.0,13.0,17.0,6.0,0.0
6080,0.0,1.0,1430.0,13.0,4.0,9.0,0.0
6081,1.0,0.0,1270.0,3.0,16.0,7.0,0.0
6082,1.0,0.0,1.2,66.0,0.0,66.0,20.0
6083,0.0,1.0,2370.0,15.0,5.0,15.0,0.0

In [626]:
X_train = t.transform(X_train)
X_test = t.transform(X_test)

In [627]:
lr.fit(X_train,y_train)

LinearRegression()

In [628]:
X_train = pd.DataFrame(X_train,columns=t.get_feature_names_out())
X_test = pd.DataFrame(X_test,columns=t.get_feature_names_out())

In [610]:
X_train

,Oneh__company_reviews_excellent,Oneh__company_reviews_good,remainder__Reviews,remainder__Interviews,remainder__jobs,remainder__Benefits,remainder__photos
0,1.0,0.0,2020.0,13.0,0.0,15.0,0.0
1,0.0,0.0,2.5,239.0,202.0,146.0,17.0
2,0.0,1.0,6220.0,174.0,0.0,26.0,5.0
3,1.0,0.0,1160.0,33.0,0.0,1.0,10.0
4,1.0,0.0,2140.0,12.0,0.0,11.0,7.0
...,...,...,...,...,...,...,...
6079,0.0,1.0,1.1,75.0,28.0,102.0,1.0
6080,0.0,0.0,1760.0,19.0,14.0,22.0,2.0
6081,1.0,0.0,1270.0,3.0,16.0,7.0,0.0
6082,0.0,1.0,1980.0,16.0,20.0,13.0,6.0
6083,0.0,0.0,1110.0,11.0,2.0,18.0,0.0

In [615]:
X_train.isnull().sum()

Oneh__company_reviews_excellent    0
Oneh__company_reviews_good         0
remainder__Reviews                 0
remainder__Interviews              0
remainder__jobs                    0
remainder__Benefits                0
remainder__photos                  0
dtype: int64

In [616]:
df

     company_reviews  Reviews  Salaries  Interviews  jobs  Benefits  photos
0               good   5440.0    4500.0        48.0  34.0      31.0       6
1               Poor   1820.0     895.0         8.0  18.0      15.0       1
2               Poor   3230.0    2500.0        40.0  12.0      25.0      25
3               good   3850.0    1300.0        26.0  12.0      12.0       0
4               good   1080.0     513.0         8.0   0.0       4.0       0
...              ...      ...       ...         ...   ...       ...     ...
7601            good   1900.0     516.0        18.0   0.0      14.0       1
7602            good   2050.0     517.0        21.0   4.0       7.0       2
7603            good   1980.0    1200.0        16.0  20.0      13.0       6
7604       excellent      1.2    4500.0        66.0   0.0      66.0      20
7605       excellent   1460.0     304.0         8.0   0.0       2.0       5

[7606 rows x 7 columns]

In [630]:
pr = lr.predict(X_test)

c:\Users\acer\anaconda3\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [631]:
from sklearn.metrics import r2_score

In [632]:
r2_score(y_test,pr)

0.9497325806229474